$icomoon-font-family: "decameron-ico" !default;
$icomoon-font-path: "fonts" !default;

$i-search: "\e900";
$i-data: "\e901";
$i-edit: "\e902";
$i-plus: "\e903";
$i-x: "\e904";
$i-check: "\e905";
$i-triangle: "\e906";
$i-arrow-up: "\e90d";
$i-arrow-down: "\e907";
$i-arrow-up-down: "\e908";
$i-calendar: "\e909";
$i-id-card: "\e90a";
$i-notes: "\e90b";
$i-pdf: "\e90c";
$i-minus: "\e90e";
$i-alert: "\e90f";

